
  .header {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
  }

  .content {
    margin: 0px 10px;
    padding: 10px;
    background: linear-gradient(90deg, var(--warn-color), var(--persimmon));
    border-radius: 10px;
    overflow: auto; 
    max-width: 100%;
  }

  .table-header {
    background: var(--primary-color);
    color: var(--warn-color);
    text-align: left;
    padding: 15px;
  }

  .tabla {
    width: 100%;          
    table-layout: auto;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  
  .info-card {
    /* max-width: 1000px; */
    width: 70%;
    background: linear-gradient(90deg, #FDD086, #FDC872);
    margin: 20px auto;
    padding: 20px;
    
  }

  .info-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .personal-info {
    flex: 1;
    padding-right: 20px;
  }

  .profile-picture img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  .btn-opciones {
    display: flex;
    justify-content: space-between;
    margin: 1.5em 0;
  }