<div class="main-container">
    <div class="header">
        <h3><strong>REGISTRAR VEHICULO</strong></h3>
        <button mat-flat-button color="warn" routerLink="/admin/vehiculos/">
            Regresar
            <mat-icon aria-label="icono de retorno" fontIcon="keyboard_return icon"></mat-icon>
        </button>
    </div>
    <div class="content">
        <form (ngSubmit)="onSubmit(vehiculoForm)" class="registrar-form" autocomplete="off" #vehiculoForm="ngForm">
            <div class="datos-form">
                <div class="datos-personales">
                    <h3 class="sub-title"><strong>Datos del vehiculo:</strong></h3>
                    <div>
                        <table cellspacing="4">
                            <tr class="row-form">
                                <td>
                                    <mat-form-field>
                                    <mat-label>Nro. Placa</mat-label>
                                    <input 
                                    matInput
                                    required
                                    name="placa"
                                    [(ngModel)]="vehiculo.placa"
                                    #placa="ngModel">
                                    @if (placa.invalid && (placa.dirty || placa.touched)) {
                                        <mat-error *ngIf="placa.errors!['required']">
                                            El campo es requerido
                                        </mat-error>
                                    }
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field>
                                    <mat-label>Marca</mat-label>
                                    <input 
                                    matInput 
                                    required
                                    name="marca"
                                    [(ngModel)]="vehiculo.marca"
                                    #marca="ngModel">
                                    @if (marca.invalid && (marca.dirty || marca.touched)) {
                                        <mat-error *ngIf="marca.errors!['required']">
                                            El campo es requerido
                                        </mat-error>
                                    }
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field>
                                    <mat-label>Modelo</mat-label>
                                    <input 
                                    matInput
                                    required
                                    name="modelo"
                                    [(ngModel)]="vehiculo.modelo"
                                    #modelo="ngModel">
                                    @if (modelo.invalid && (modelo.dirty || modelo.touched)) {
                                        <mat-error *ngIf="modelo.errors!['required']">
                                            El campo es requerido
                                        </mat-error>
                                    }
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field>
                                        <mat-label>Procedencia</mat-label>
                                        <input 
                                        matInput
                                        required
                                        name="procedencia"
                                        [(ngModel)]="vehiculo.procedencia"
                                        #procedencia="ngModel">
                                        @if (modelo.invalid && (procedencia.dirty || procedencia.touched)) {
                                            <mat-error *ngIf="procedencia.errors!['required']">
                                                El campo es requerido
                                            </mat-error>
                                        }
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr class="row-form">
                                <td>
                                    <!-- Estado del Vehiculo -->
                                    <mat-form-field class="fields-form" appearance="fill">
                                        <mat-label>Tipo</mat-label>
                                        <mat-select
                                        required
                                        name="tipo"
                                        [(ngModel)]="vehiculo.tipo"
                                        #tipo="ngModel">
                                            <mat-option *ngFor="let tipo of vehiculoTipos" [value]="tipo">
                                            {{ tipo }}
                                            </mat-option>
                                        </mat-select>
                                        @if (tipo.invalid && (tipo.dirty || tipo.touched)) {
                                            <mat-error *ngIf="tipo.errors!['required']">
                                                El campo es requerido
                                            </mat-error>
                                        }
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field>
                                        <mat-label>Año</mat-label>
                                        <input 
                                        type="tel"
                                        matInput 
                                        required 
                                        name="anio"
                                        [(ngModel)]="vehiculo.anio"
                                        #anio="ngModel"
                                        pattern="[0-9]*">
                                        @if (anio.invalid && (anio.dirty || anio.touched)) {
                                            <mat-error *ngIf="anio.errors!['required']">
                                                El campo es requerido
                                            </mat-error>
                                        }
                                        @if (anio.invalid && (anio.dirty || anio.touched)) {
                                            <mat-error *ngIf="anio.errors!['pattern']">
                                                El campo solo acepta numeros
                                            </mat-error>
                                        }
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field>
                                    <mat-label>Nro Serie</mat-label>
                                    <input 
                                    type="tel"
                                    matInput 
                                    required 
                                    name="numeroSerie"
                                    [(ngModel)]="vehiculo.numeroSerie"
                                    #numeroSerie="ngModel">
                                    @if (numeroSerie.invalid && (numeroSerie.dirty || numeroSerie.touched)) {
                                        <mat-error *ngIf="numeroSerie.errors!['required']">
                                            El campo es requerido
                                        </mat-error>
                                    }
                                    </mat-form-field>
                                </td>
                                <td>
                                    <!-- Estado del Vehiculo -->
                                    <mat-form-field class="fields-form" appearance="fill">
                                        <mat-label>Estado</mat-label>
                                        <mat-select
                                        required
                                        name="estado"
                                        [(ngModel)]="vehiculo.estado"
                                        #estado="ngModel">
                                            <mat-option *ngFor="let estado of vehiculoEstados" [value]="estado">
                                            {{ estado }}
                                            </mat-option>
                                        </mat-select>
                                        @if (estado.invalid && (estado.dirty || estado.touched)) {
                                            <mat-error *ngIf="estado.errors!['required']">
                                                El campo es requerido
                                            </mat-error>
                                        }
                                    </mat-form-field>
                                </td>
                            </tr>
                            <tr class="row-form">
                                
                                
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="datos-conductor">
                    <h3 class="sub-title"><strong>Imágenes del Vehículo:</strong></h3>
                    <div>
                        <table cellspacing="2">
                            <tr class="row-form">
                                <td colspan="3">
                                    <div class="image-upload-section">
                                      <!-- Botón para subir imágenes -->
                                      <div class="upload-button">
                                        <input 
                                          type="file" 
                                          accept=".jpg,.png,.jpeg" 
                                          (change)="onFileChange($event)" 
                                          hidden
                                          multiple
                                          #fileInput>
                                        <button type="button" mat-raised-button color="primary" (click)="fileInput.click()">
                                          <mat-icon>upload</mat-icon> Subir Imágenes
                                        </button>
                                      </div>
                                    </div>
                                  </td>
                            </tr>
                        </table>
                    </div>
                    <!-- Visualización de las imágenes subidas -->
                    <mat-grid-list cols="3" rowHeight="150px" *ngIf="imagenesPreview.length > 0">
                        <mat-grid-tile *ngFor="let img of imagenesPreview; let i = index">
                          <mat-card class="image-card">
                            <img mat-card-image [src]="img" alt="Imagen del vehículo">
                            <mat-card-actions>
                              <button mat-icon-button color="warn" (click)="eliminarImagen(i)">
                                <mat-icon>delete</mat-icon>
                              </button>
                            </mat-card-actions>
                          </mat-card>
                        </mat-grid-tile>
                      </mat-grid-list>
                </div>
            </div>
            <div class="botones-form">
                <button type="button" class="boton" mat-stroked-button color="primary"
                    (click)="limpiar(vehiculoForm)">
                    Limpiar
                </button>
                <button 
                class="boton" 
                mat-flat-button 
                color="primary" 
                type="submit"
                [disabled]="vehiculoForm.invalid">
                    Enviar
                </button>
            </div>
        </form>
        
    </div>
</div>